html {
  font-size: 62.5%;
  height: 100%;
  font-family: 'klee',sans-serif;
}

body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

/* ----------header↓--------- */

.header {
  background-color: #c0c0c0;
  height: 50px;
  font-size: 1.5rem;
}

.top_menu {
  float: right;
}

.top_menu li  {
  padding: 15px;
  float: right;
}

.top_menu li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.top_menu li:hover {
  text-decoration: underline;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* ----------header↑---------- */

/* ----------top↓---------- */

h1 {
  width: 100%;
  text-align: center;
}

/* ----------top↑---------- */

/* ----------information↓---------- */

h2 {
  text-align: center;
}

input {
  margin-top: 30px;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

#post_content {
  width: 400px;
  height: 80px;
  font-size: 2rem;
  border: solid 2px black;
}

/* ----------information↑---------- */

/* ----------footer↓---------- */

.footer {
  background-color: #4d4d4d;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}

.footer p {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
